@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap'); /*'Poppins'*/
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');     /*'Rancho'*/
/*Everywhere----*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
/*Body----*/
body{
    background: url('../media/CatalogResources/catalog_bg.avif');
    min-height: 100vh;
    overflow-x: hidden;
}
/*Header----*/
#header{
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.5);
}
#header .logo{
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left:20px;
}
#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#094b65;
    border-radius: 20px;
}
#header ul li a:hover{
    background-color: #094b65;
    color: #fff;
}
section{
    width: 90em;
    margin: 0 auto;
    margin-top: 7rem;
    display: block;
    text-align: center;
    backdrop-filter: blur(9px);
}
div{
    padding-top: 8vh;
    padding-bottom: 8vh;
    margin-left: 4vw;
    margin-right: 4vw;
    border-radius: 5em 2em 5em 2em;
    margin-top: 2vh;
    margin-bottom: 2vh;
    align-items: center;
}
div h2{
    font-size: 40px;
}
div h4{
    font-size: 20px;
    margin-bottom: 1vh;
}
article p{
    text-size-adjust: 0.4;
}
#outstandings{
    /*background: linear-gradient(to left, #333,#444, #454545,#444,#333);*/
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #222);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #222); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
#discounts{
    background: linear-gradient(-45deg, #ee7752,#e73c7e,#e73c7e,#23a6d5,#23d5ab);
}
#tops{
    /*background: linear-gradient(to left, #A57C01, #B79001,#FFDF01,#EDCB01,#DBB701,#C9A401);*/
    background: #C6FFDD;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
nav{
    height: 34px;
    width: 100%;
    min-height: 60px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px); 
    position: sticky;
    top: 0px;
}
nav ul{
    margin-top: 2.2vh;
    display: flex;
    list-style: none;
    margin: 0 auto;
}
nav ul li{
    margin: 0 auto;
    margin-right: 20px;
    margin: 0 auto;
    margin-top: 17px;
}
nav ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#094b65;
    border-radius: 20px;
}
nav ul li a:hover{
    background-color: #094b65;
    color: #fff;
}
h4{
    float: left;
}
h4 img{
    width: 19px;
}
#divCat{
    display: none;
    position: fixed;
    width: 300px;
    height: auto;
    top: 60px;
    background: rgba(81, 82, 94, 0.86);
    backdrop-filter: blur(10px);
    margin-top: 0px;
    border-radius: 0em 0em 3em 3em ;
}
.btn_tp1 {
  width: 16.65vw;
  display: block;
  padding: 0.6vh ;
  border: 0.1em solid #ffffff;
  margin-top: 1vh;
  border-radius: 5.12em;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
  min-width: 210px;
}
.btn_tp1:hover {
  color: #000000;
  background-color: mintcream;
  cursor: pointer;
}
.btn_tp2 {
    width: 12.65vw;
    display: inline-block;
    padding: 0.6vh ;
    border: 0.1em solid #fff;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #fff;
    text-align: center;
    transition: all 0.2s;
    min-width: 210px;
  }
  
  .btn_tp2:hover {
    color: #000000;
    background-color: mintcream;
    cursor: pointer;
  }
@keyframes gradient{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100%, 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}