@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #fff;
    min-height: 100vh;
    overflow-x: hidden;

}

#header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px, 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo{
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header ul li{
    list-style: none;
    margin-left:20px;
}

#header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color:#094b65;
    border-radius: 20px;
}

#header ul li a:hover{
    background-color: #094b65;
    color: #fff;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #094b65,transparent);
    z-index: 90;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text{
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho',cursive;
    transform: translateY(-50px);
}
section #text span{
    font-size: 0.20em;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins',sans-serif;

}
#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background:#fff; /*ff0*/
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);
}

/******************************************/
.sec{
    position: relative;
    padding: 100px;
    background: #094b65;
}
.sec h2{
    margin-top: 8vh;
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p{
    font-size: 1em;
    color: #fff;
}
.nav_button{
    margin: 10vh 4vh 0vh 4vh;
    height: 50vh;
    width: 20%;
    cursor: pointer;
    border-style: none;
    border-radius: 60px;
    min-width: 230px;
    min-height: 400px;
    backdrop-filter: blur(8px); 
    text-transform: capitalize;
    font-size: 8vh;
}
.nav_button:hover{
    box-shadow: 0 0.1rem 3rem wheat ;
    transition: box-shadow 0.4s ease;
    animation: mymove 0.5s, bounce 1s;
    
}



.nav_button h2{
    font-size: 40px;
    margin-top: 20rem;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-40px);
		transform: translateY(-40px);
	}

	80% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
}

@keyframes mymove {
    0%   {top: 0px; left: 0px; background: red;}
    25%  {top: 0px; left: 100px; background: blue;}
    50%  {top: 100px; left: 100px; background: yellow;}
    75%  {top: 100px; left: 0px; background: green;}
    100% {top: 0px; left: 0px; background: red;}
  }